@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  overflow: auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.first-screen {
  background-image: url("../images/header/first_screen.png");
  background-repeat: no-repeat;
  display: flex;
  padding-right: 100px;
  height: 1000px;
  justify-content: space-between;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 19px;
  background-color: #333333;
}
.sidebar__block-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__logo {
  margin-bottom: 29px;
}
.sidebar__burger {
  width: 33px;
}
.sidebar__block-down {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}
.sidebar__contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
}
.sidebar__item {
  margin-bottom: 40px;
}
.sidebar__item:last-child {
  margin-bottom: 0;
}

.menu-screen__block {
  margin-top: 30px;
}
.menu-screen__nav {
  width: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu-screen__item {
  padding: 10px 20px;
  transition: all 1s;
}
.menu-screen__item:hover {
  background-color: #B59571;
  font-weight: 700;
}
.menu-screen__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Circe";
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.screen-title {
  position: relative;
  width: 856px;
  margin-left: 302px;
}
.screen-title__item {
  position: absolute;
  font-family: "Circe";
  font-size: 54px;
  font-weight: 700;
  line-height: 75.6px;
  color: #ffffff;
  bottom: 150px;
}

main .container {
  padding: 0px 312px;
}

.about__title {
  text-transform: uppercase;
  color: #333;
  line-height: 28px;
  margin-top: 150px;
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
}
.about__title:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #B59571;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 6px;
}
.about__info {
  margin-top: 80px;
  padding-left: 220px;
  display: flex;
}
.about__subtitle {
  width: 190px;
  margin-right: 134px;
  font-family: "circe";
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #333;
}
.about__des {
  width: 526px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 25.3px;
  color: #333;
}

.menu__title {
  text-transform: uppercase;
  color: #333;
  line-height: 28px;
  margin-top: 150px;
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
}
.menu__title:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #B59571;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 6px;
}
.menu__info {
  margin-top: 80px;
  padding-left: 220px;
  display: flex;
}
.menu__subtitle {
  width: 190px;
  margin-right: 134px;
  font-family: "circe";
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #333;
}
.menu__des {
  width: 526px;
  margin-bottom: 80px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 25.3px;
  color: #333;
}
.menu__categories {
  padding-left: 210px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
}
.menu__categories-item {
  width: 416px;
  height: 240px;
  position: relative;
  padding: 40px 40px 0;
  border: 1px solid rgba(51, 51, 51, 0.2);
}
.menu__categories-img {
  position: absolute;
  right: 40px;
}
.menu__categories-title {
  position: absolute;
  text-decoration: none;
  top: 270px;
  right: 65px;
  text-transform: uppercase;
  color: #333;
  line-height: 28px;
  margin-top: 24px;
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
}
.menu__categories-title:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #B59571;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 6px;
}

.delivery__title {
  text-transform: uppercase;
  color: #333;
  line-height: 28px;
  margin-top: 150px;
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
}
.delivery__title:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #B59571;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 6px;
}
.delivery__info {
  margin-top: 80px;
  padding-left: 220px;
  display: flex;
}
.delivery__subtitle {
  width: 190px;
  margin-right: 134px;
  font-family: "circe";
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #333;
}
.delivery__text {
  width: 526px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 25.3px;
  color: #333;
  margin-bottom: 60px;
}
.delivery__btn {
  border: 1px solid #E5E5E5;
  padding: 15px 30px;
  color: #333;
  background-color: #ffffff;
  margin-right: 30px;
  font-family: "Circe";
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s;
}
.delivery__btn:hover {
  color: #fff;
  background-color: #B59571;
}

.contacts {
  margin-bottom: 100px;
}
.contacts__title {
  text-transform: uppercase;
  color: #333;
  line-height: 28px;
  margin-top: 150px;
  margin-bottom: 80px;
  font-family: "Circe";
  font-weight: 700;
  font-size: 20px;
}
.contacts__title:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #B59571;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 6px;
}
.contacts__location {
  display: flex;
  justify-content: space-between;
}
.contacts__time {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 210px 150px;
  margin-top: 70px;
}
.contacts__time-minutes {
  color: #B59571;
  font-family: "Circe";
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}
.contacts__time-minutes p {
  font-size: 32px;
  line-height: 120%;
}
.contacts__time-loc {
  color: #333;
  font-family: "Circe";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.contacts__map {
  width: 746px;
  height: 450px;
  background-image: url("../images/main/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__address {
  width: 416px;
  background-color: #5B5B5B;
  padding: 40px;
  position: relative;
  top: 55px;
  right: 110px;
}
.contacts__address-location__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contacts__address-location__list li {
  margin-bottom: 20px;
}
.contacts__address-location__list li a {
  text-decoration: none;
  font-family: "Circe";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #fff;
}
.contacts__address-location__list li img {
  margin-right: 20px;
}
.contacts__address-time__work {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  font-family: "Circe";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.contacts__address-time__work li {
  margin-bottom: 15px;
}
.contacts__address-btns {
  display: flex;
  justify-content: space-between;
}
.contacts__address-btn {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-family: "Circe";
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}
.contacts__address-btn:hover {
  background-color: #B59571;
  border: 1px solid #B59571;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #333333;
  padding: 35px 320px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Circe";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
