* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.first-screen {
    background-image: url('../images/header/first_screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.sidebar {

    display: flex;
    flex-direction: column;
    padding: 30px 19px;
    background-color: #333333;

    &__block-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: 29px;
    }

    &__burger {
        width: 33px;
    }

}
