@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('ttf');
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow: auto;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.first-screen {
    background-image: url('../images/header/first_screen.png');
    background-repeat: no-repeat;
    display: flex;
    padding-right: 100px;
    height: 1000px;
    justify-content: space-between;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 19px;
    background-color: #333333;

    &__block-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: 29px;
    }

    &__burger {
        width: 33px;
    }

    &__block-down {
        position: absolute;
        bottom: 0;
        margin-bottom: 40px;
    }

    &__contacts {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 20px;
    }

    &__item {
        margin-bottom: 40px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

}

.menu-screen {

    &__block {
        margin-top: 30px;
    }

    &__nav {
        width: 500px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        padding: 10px 20px;
        transition: all 1s;

        &:hover {
            background-color: #B59571;
            font-weight: 700;
          }
    }

    &__link {
        text-decoration: none;
        color: #ffffff;

        font: {
            family: "Circe";
            weight: 400;
            size: 16px;
        }

        line-height: 22.4px;
    }

}


.screen-title {
    position: relative;
    width: 856px;
    margin-left: 302px;

    &__item {
        position: absolute;
        font: {
            family: "Circe";
            size: 54px;
            weight: 700;
        }

        line-height: 75.6px;
        color: #ffffff;
        bottom: 150px;
    }
}

// Main

main {
    .container {
        padding: 0px 312px;
    }
}

// About section

.about {
    &__title {
        text-transform: uppercase;
        color: #333;
        line-height: 28px;
        margin-top: 150px;
        font: {
            family: "Circe";
            weight: 700;
            size: 20px;
        }

        &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #B59571;
            margin-left: 30px;
            display: inline-block;
            margin-bottom: 6px;
        }
        
    }

    &__info {
        margin-top: 80px;
        padding-left: 220px;
        display: flex;
    }

    &__subtitle {
        width: 190px;
        margin-right: 134px;
        font: {
            family: "circe";
            weight: 700;
            size: 64px;
        }

        line-height: 76.8px;
        color: #333;
    }

    &__des {
        width: 526px;
        font: {
            family: 'Circe';
            weight: 400;
            size: 18px;
        }
        line-height: 25.3px;
        color: #333; 
    }
}

// Menu section

.menu {
    &__title {
        text-transform: uppercase;
        color: #333;
        line-height: 28px;
        margin-top: 150px;
        font: {
            family: "Circe";
            weight: 700;
            size: 20px;
        }

        &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #B59571;
            margin-left: 30px;
            display: inline-block;
            margin-bottom: 6px;
        }
        
    }

    &__info {
        margin-top: 80px;
        padding-left: 220px;
        display: flex;
    }

    &__subtitle {
        width: 190px;
        margin-right: 134px;
        font: {
            family: "circe";
            weight: 700;
            size: 64px;
        }

        line-height: 76.8px;
        color: #333;
    }

    &__des {
        width: 526px;
        margin-bottom: 80px;
        font: {
            family: 'Circe';
            weight: 400;
            size: 18px;
        }
        line-height: 25.3px;
        color: #333; 
    }

    &__categories {
        padding-left: 210px;
        padding-right: 200px;
        display: flex;
        justify-content: space-between;
    }

    &__categories-item {
        width: 416px;
        height: 240px;
        position: relative;
        padding: 40px 40px 0;
        border: 1px solid rgba(51, 51, 51, 0.2);
    }

    &__categories-img {
        position: absolute;
        right: 40px;
    }

    &__categories-title {
        position: absolute;
        text-decoration: none;
        top: 270px;
        right: 65px;
        text-transform: uppercase;
        color: #333;
        line-height: 28px;
        margin-top: 24px;
        font: {
            family: "Circe";
            weight: 700;
            size: 20px;
        }

        &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #B59571;
            margin-left: 30px;
            display: inline-block;
            margin-bottom: 6px;
        }
        
    }
}

// Delivery section

.delivery {
    &__title {
        text-transform: uppercase;
        color: #333;
        line-height: 28px;
        margin-top: 150px;
        font: {
            family: "Circe";
            weight: 700;
            size: 20px;
        }

        &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #B59571;
            margin-left: 30px;
            display: inline-block;
            margin-bottom: 6px;
        }
        
    }

    &__info {
        margin-top: 80px;
        padding-left: 220px;
        display: flex;
    }

    &__subtitle {
        width: 190px;
        margin-right: 134px;
        font: {
            family: "circe";
            weight: 700;
            size: 64px;
        }

        line-height: 76.8px;
        color: #333;
    }

    &__text {
        width: 526px;
        font: {
            family: 'Circe';
            weight: 400;
            size: 18px;
        }
        line-height: 25.3px;
        color: #333; 
        margin-bottom: 60px;
    }

    &__btn {
        border: 1px solid #E5E5E5;
        padding: 15px 30px;
        color: #333;
        background-color: #ffffff;
        margin-right: 30px;
        font: {
            family: "Circe";
            size: 20px;
            weight: 700;
        }
        cursor: pointer;
        transition: all 1s;

        &:hover {
            color: #fff;
            background-color: #B59571;
        }
    }
}

// Contacts section

.contacts {
    &__title {
        text-transform: uppercase;
        color: #333;
        line-height: 28px;
        margin-top: 150px;
        font: {
            family: "Circe";
            weight: 700;
            size: 20px;
        }

        &:after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: #B59571;
            margin-left: 30px;
            display: inline-block;
            margin-bottom: 6px;
        }
    }
    &__location {}
    &__time {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__time-item {
       
    }
    &__time-minutes {
        color: #B59571;
        font: {
            family: 'Circe';
            size: 64px;
            weight: 700;
        }
        line-height: 120%;

        p {
            font: {
                size: 32px;
            }
            line-height: 120%;
        }
    }
    &__time-loc {
        color: #333;
        font: {
            family: 'Circe';
            size: 18px;
            weight: 400;
        }
        line-height: 140%;
    }
    &__map {}
    &__address {}
    &__address-location__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__address-time__work {
        padding: 0;
        margin: 0;
        list-style: none;
    }
  }
  